<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-launchscreen-storyboard"
  version="1.0.1">
  <name>LaunchScreenStoryboard</name>
  <description>Cordova LaunchScreen Storyboard Plugin</description>
  <license>MIT</license>
  <keywords>cordova,launchscreen,storyboard,ios</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/launchscreen.js" name="launchscreen">
    <clobbers target="window.LaunchScreen" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="LaunchScreen">
        <param name="ios-package" value="LaunchScreenStoryboard" onload="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/LaunchScreenStoryboard.h" />
    <source-file src="src/ios/LaunchScreenStoryboard.m" />

  </platform>
</plugin>
